.aboutContent
{
    position:relative;
}
.aboutContent__container
{
    
    color:rgba(255, 0, 0, 0.823);
    position: absolute;
    top:100px;
    right:120px;
    justify-content: center;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 50px;
   
}
.aboutContent__container > h1
{
    color: white;
    padding: 2px;
}
.aboutContent__container > p
{
    letter-spacing: 2px;
    margin: 50px 75px;
    padding:20px;
    font-size:1.5rem;
}
.aboutContent__container > a > button
{
    
    margin-bottom: 30px;;
    text-align: left;
    border:none;
    border-radius: 50px;
    outline: none;
}
.aboutContent__container > a > .resume
{
    background-color: red;
    font-size:14px;
    padding:10px 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor:pointer;
    margin-right: 20px;
    margin-top: 20px;
}
.aboutContent__container > a > .resume:hover
{
    background-color: white;
    color:black;
}
.aboutContent__container > a > .mywork
{
    background-color: transparent;
    color:white;
    font-size:14px;
    padding:10px 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor:pointer;
    margin-right: 20px;
    margin-top: 20px;
    border: solid white 1px;

}
.aboutContent__container > a > .mywork:hover
{
    background-color: red;
    color:white;
    border: solid black 1px;
}



