/* Contact page container */
.contact-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #050505;
  padding: 20px;
}

/* Contact box */
.contact-box {
  background: #3b3a3a;
  padding: 40px 30px;
  max-width: 500px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

/* Heading */
.contact-box h2 {
  font-size: 2rem;
  color: #007BFF;
  color: rgba(255, 0, 0, 0.696);
  margin-bottom: 25px;
}

/* Form styling */
.contact-form {
  display: flex;
  flex-direction: column;
  text-align: left;

}

.contact-form label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 12px 15px;
  border: 1px solid rgba(255, 0, 0, 0.701);
   color: rgba(187, 9, 9, 0.996);
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s;
  background-color: #050505;
}

.contact-form input:focus 
{
background-color: #101010;
}
.contact-form textarea:focus {
  border-color: #007BFF;
   color: rgba(255, 0, 0, 0.696);
   background-color: #101010;
}

/* Checkbox */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color:white
}

.checkbox-container input {
  margin-right: 10px;
  color:white
 
}
.checkbox-container label {
  color:white;
  font-size: 2rem;
}

/* Submit button */
.contact-form button {
  background-color: rgba(255, 0, 0, 0.696);
  
  color: white;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-form button:hover {
  background-color: rgba(255, 0, 0, 0.496);
}

/* Responsive */
@media (max-width: 600px) {
  .contact-box {
    padding: 30px 20px;
  }
}