
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Condensed&display=swap');


.header
{
    display:flex;
    align-items: center;
    color:white;
    background-color: rgb(23, 23, 23);
    padding:10px;
    top:0;
    position:sticky;
    z-index:2000;
    box-shadow: 0 4px 10px rgba(239, 235, 235, 0.912);
  
}
.header__left
{
    flex:0.3;
}
.header__left > h1
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    padding:20px 0;
    color: red;
}
.header__left >h1 >span
{
    color: red;
}

.header__right
{
    display:flex;
    flex:0.6;
    justify-content:space-evenly;
    margin-left : auto;
    width:50%;
    align-items: center;
}

.header__right > a > h4
{
    font-size: 18px;
    cursor:pointer;
    transition : transform 200ms ease-in-out;
    padding: 5px 20px;
    letter-spacing: 1px;
}
.header__right > a > h4:hover {
    transform: scale(1.09);
    background-color: red;
    padding: 5px 20px;
    color:white;
    border-radius: 50px;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    font-size:18px;
    cursor: pointer

}