 .project > img{
    width: 500px;
    height:200px
}

.project
{
    margin:15px;
    width: 500px;
    height:200px;   
    transition : transform 100ms ease-in;
    padding :20px;
    align-items: center;
    background-color: rgba(169, 177, 177, 0.773);
    border-radius: 25px;
   
     
}
.project:hover{
    color:white;
    background-color: rgba(255, 0, 0, 0.684);
    transform: scale(1.05);
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   


}
.project__content
{
    padding:10px;
}
.project__content > h4
{
    padding-bottom: 5px;
}
.project__content > p
{
    font-size: 20px;
}